<div>
    <p><b>Player:</b></p>
    <p>testPlayer99</p>
    <!-- so for every second <p> we would want this to pull from the db? -->
    <!-- I was about to make this exact comment, but I see you have already -->    
    <mat-divider></mat-divider> 
    <p><b>Rank:</b></p>


    <p><!-- db call ? -->2</p>
    
    <mat-divider></mat-divider> 
    <p><b>Score:</b></p>
    
    
    <p><!-- -->120000</p>
    
    <mat-divider></mat-divider> 
    <p><b>Time:</b></p>
    
    <p><!-- -->1d 12h 32m</p>
    <mat-divider></mat-divider> 
    <p><b>Favourite Game:</b></p>
    
    <p><!-- -->Overwatch</p>
    <mat-divider></mat-divider>  
    <p><b>Customer:</b></p>
        <mat-form-field>
            <!-- -->
        <select matNativeControl required>
            <option value="halo_reach">Halo Reach</option>
            <option value="fallout_4">Fallout 4</option>
            <option value="nier_automata">Nier Automata</option>
            <option value="diablo_3">Diablo III</option>
        </select>
        </mat-form-field>
    <mat-divider></mat-divider>                                           
</div>
