table {
    width: 100%;
}

.mat-flat-button {
    float: right;
}

.inlinebuttons {
    display: inline-block;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
}